{% extends "base.html.twig" %}

{% block content %}
    <br/>
    <br/>
    Are you sure want to delete {{ controller }} with id {{ id }}?

    <form action="?controller={{ controller }}&action=delete" method="post">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="submit" name="submit_button" value="OK">
        <input type="submit" name="submit_button" value="Cancel">
    </form>
{% endblock %}